div {
    display: block;
}

.masonry { /* Masonry container */
    column-count: 3;
    column-gap: 3em;
}
  
.item { /* Masonry bricks or child elements */
    background-color: white;
    display: inline-block;
    margin: 0 0 3em;
    width: 100%;
}

.results {
    display: grid;
    justify-content: center;
    margin-top: 60px;
    gap: 30px 58px;
    padding-left: 45px;
    font-size: larger;
}

.houseImage {
    padding-left: 25px;
    padding-right: 25px;
}
